<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-turnstile-heading">Create or edit a Turnstile</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_identifier">Identifier</label>
                    <input type="text" class="form-control" name="identifier" id="field_identifier"
                           formControlName="identifier"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_tbControllerId">Tb Controller Id</label>
                    <input type="text" class="form-control" name="tbControllerId" id="field_tbControllerId"
                           formControlName="tbControllerId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_tbDisplayId">Tb Display Id</label>
                    <input type="text" class="form-control" name="tbDisplayId" id="field_tbDisplayId"
                           formControlName="tbDisplayId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_cameraId">Camera Id</label>
                    <input type="text" class="form-control" name="cameraId" id="field_cameraId"
                           formControlName="cameraId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_x1">X 1</label>
                    <input type="number" class="form-control" name="x1" id="field_x1"
                           formControlName="x1"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_y1">Y 1</label>
                    <input type="number" class="form-control" name="y1" id="field_y1"
                           formControlName="y1"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_x2">X 2</label>
                    <input type="number" class="form-control" name="x2" id="field_x2"
                           formControlName="x2"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_y2">Y 2</label>
                    <input type="number" class="form-control" name="y2" id="field_y2"
                           formControlName="y2"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
