<div>
    <h2 id="page-heading">
        <span>Turnstiles</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-turnstile" [routerLink]="['/turnstile/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Turnstile
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="turnstiles?.length === 0">
        <span>No turnstiles found</span>
    </div>
    <div class="table-responsive" *ngIf="turnstiles?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Identifier</span></th>
            <th><span>Tb Controller Id</span></th>
            <th><span>Tb Display Id</span></th>
            <th><span>Camera Id</span></th>
            <th><span>X 1</span></th>
            <th><span>Y 1</span></th>
            <th><span>X 2</span></th>
            <th><span>Y 2</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let turnstile of turnstiles ;trackBy: trackId">
                <td><a [routerLink]="['/turnstile', turnstile.id, 'view' ]">{{turnstile.id}}</a></td>
                <td>{{turnstile.identifier}}</td>
                <td>{{turnstile.tbControllerId}}</td>
                <td>{{turnstile.tbDisplayId}}</td>
                <td>{{turnstile.cameraId}}</td>
                <td>{{turnstile.x1}}</td>
                <td>{{turnstile.y1}}</td>
                <td>{{turnstile.x2}}</td>
                <td>{{turnstile.y2}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/turnstile', turnstile.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/turnstile', turnstile.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'turnstile', { outlets: { popup: turnstile.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
